---
import AnimatedGradientBackground from '../components/AnimatedGradientBackground';
---

<section class="min-h-screen flex items-center justify-center relative">
    <AnimatedGradientBackground client:load />
    <div class="text-center z-10">
      <h1 class="text-4xl md:text-7xl font-bold mb-4 text-white">Fahd Azouz</h1>
      <p class="text-xl md:text-2xl mb-8 text-white">Software Engineer</p>
      <a href="#about" class="bg-primary text-neutrals-50 px-6 py-3 rounded-full hover:bg-primary/80 transition-colors">
        Learn More
      </a>
    </div>
</section>