---
import FilterableProjectShowcase from '../components/FilterableProjectShowcase';
import projects from '../data/projects.js';
---

<section id="work" class="py-20 bg-neutrals-900">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl md:text-5xl font-bold mb-8 text-center">My Work</h2>
        <FilterableProjectShowcase client:load projects={projects} />
    </div>
</section>